*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Segoe UI', sans-serif;
}

body{
  background:#0f2027;
  background:linear-gradient(to right,#2c5364,#203a43,#0f2027);
  color:white;
  text-align:center;
}

/* NAV */
nav{
  padding:20px;
  font-size:22px;
  font-weight:bold;
  background:rgba(0,0,0,0.3);
}

/* HEADER */
header{
  padding:40px 20px;
}

header h1{
  font-size:32px;
  margin-bottom:10px;
}

/* SECTIONS */
section{
  padding:40px 20px;
}

section h2{
  margin-bottom:30px;
  font-size:24px;
}

/* VIDEO GRID */
.video-grid{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:30px;
}

/* 9:16 Shorts Ratio */
.video-box{
  width:280px;
  aspect-ratio:9/16;
  background:black;
  border-radius:15px;
  overflow:hidden;
  box-shadow:0 10px 25px rgba(0,0,0,0.5);
  transition:0.3s;
}

.video-box:hover{
  transform:scale(1.05);
}

.video-box iframe{
  width:100%;
  height:100%;
  border:none;
}

/* FOOTER */
footer{
  padding:20px;
  background:rgba(0,0,0,0.4);
  margin-top:40px;
}

/* PIN SCREEN */
#pin-screen{
  position:fixed;
  width:100%;
  height:100vh;
  background:linear-gradient(135deg,#141e30,#243b55);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
}

.pin-box{
  background:rgba(255,255,255,0.1);
  padding:40px;
  border-rad
