/* PIN SCREEN */

#pin-screen{
    position:fixed;
    width:100%;
    height:100vh;
    background:linear-gradient(135deg,#141e30,#243b55);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.pin-box{
    background:rgba(255,255,255,0.1);
    padding:40px;
    border-radius:20px;
    backdrop-filter:blur(10px);
    text-align:center;
    width:300px;
}

.pin-box input{
    width:100%;
    padding:12px;
    margin:15px 0;
    border:none;
    border-radius:10px;
    outline:none;
    text-align:center;
    font-size:16px;
}

.pin-box button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#00f2ff;
    color:black;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.pin-box button:hover{
    background:#00c3ff;
}

#errorMsg{
    color:red;
    font-size:14px;
    margin-top:10px;
}
