*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:sans-serif;
}

body{
  background:#0f2027;
  color:white;
  text-align:center;
}

/* NAV */
nav{
  display:flex;
  justify-content:space-between;
  padding:20px;
  background:#111;
}

nav button{
  padding:8px 15px;
  background:red;
  border:none;
  color:white;
  cursor:pointer;
}

/* VIDEO */
.video-grid{
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
  padding:30px;
}

.video-box{
  width:280px;
  aspect-ratio:9/16;
  border-radius:15px;
  overflow:hidden;
}

.video-box iframe{
  width:100%;
  height:100%;
}

/* COMMENTS */
.comment-input{
  display:flex;
  flex-direction:column;
  width:300px;
  margin:20px auto;
  gap:10px;
}

.comment-input input,
.comment-input textarea{
  padding:10px;
  border-radius:8px;
  border:none;
}

.comment-input button{
  padding:10px;
  background:#00c3ff;
  border:none;
  cursor:pointer;
}

.comment{
  background:#222;
  padding:15px;
  margin:10px auto;
  width:300px;
  border-radius:10px;
  position:relative;
}

.delete-btn{
  position:absolute;
  right:10px;
  top:10px;
  background:red;
  border:none;
  color:white;
  cursor:pointer;
  padding:5px 8px;
  display:none;
}

/* PIN SCREEN */
#pin-screen{
  position:fixed;
  width:100%;
  height:100vh;
  background:#000;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:1000;
}

.pin-box{
  background:#111;
  padding:30px;
  border-radius:15px;
}

#mainContent{
  display:none;
}

/* ADMIN PANEL */
#adminPanel{
  position:fixed;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.8);
  display:none;
  justify-content:center;
  align-items:center;
}

.admin-box{
  background:#222;
  padding:30px;
  border-radius:15px;
}
